## Problem Set 2:

#### Question 1:
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.|

In [1]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

###### Explanation:
First we declared 'a'=0 outside our function, which makes it a global variable.
We declared a function b which calls the function c from value of a which is zero.
Function c has one declared variable and adds 2 to 'a' every time.
When we call function b three times, it adds 2 to value of 'a' 3 times, that is, 2+2+2 since a=c(a).
Therefore, when we print a we get value 6.

#### Question 2:
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')

284

>>> fileLength('idterm.py')

Traceback (most recent call last):

File "<pyshell#34>", line 1, in <module>
    
 fileLength('idterm.py')
    
File "/Users/me/midterm.py", line 3, in fileLength
    
 infile = open(filename)
    
FileNotFoundError: [Errno 2] No such file or directory:
    
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
    
>>> fileLength('idterm.py')
File idterm.py not found.

In [7]:
import os


def fileLength(filename):

  try:
#here, it count total length of file    
    length = os.path.getsize(filename)

    print (length)
    
#filenotfounderror exception  
  except FileNotFoundError:
#Error message
    print("File ",str(filename),"is not found")

In [8]:
fileLength('C:/Users/samar/OneDrive/Desktop/Filelength.txt')

127

In [9]:
fileLength('idterm.py')

File  idterm.py is not found

#### Question 3:
\Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()

>>> m.put_in_pouch('doll')

>>> m.put_in_pouch('firetruck')

>>> m.put_in_pouch('kitten')

>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()

['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)

>>> k.jump(1,0)

>>> k.jump(1,0)

>>> print(k)

I am a Kangaroo located at coordinates (3,0)

In [14]:
#Create class which is main class

class Marsupial:
    
#Create a Constructor for main class
    def __init__(self):
        self.list = []

#HCreate main function  "put_in_pouch" for main class
    def put_in_pouch(self, item):
        self.list.append(item)

#Create function for Return List
    def pouch_contents(self):
        return self.list

#Create Class kangaroo as subclass of Mursupial
class Kangaroo(Marsupial):
    
#Create Constructor for  to take, as input, the coordinates x and y of the Kangaroo object
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y

#method Jump which takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy

#method "Str" which behaves accordng to user.
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [15]:
K = Kangaroo(0,0)
print(K)

I am a Kangaroo located at coordinates (0,0)

In [16]:
K.put_in_pouch('doll')
K.put_in_pouch('firetruck')
K.put_in_pouch('kitten')
print(K.pouch_contents())

['doll', 'firetruck', 'kitten']

In [17]:
K.jump(1,0)
K.jump(1,0)
K.jump(1,0)
print(K)

I am a Kangaroo located at coordinates (3,0)

#### Question 4:
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {\

𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛

3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)

1

>>> collatz(10)

10
5
16
8
4
2
1

In [28]:

def collatz(x):


    print(x)

    if x==1:
        
        return 
#when x is even    
    elif x%2==0:
        
        return collatz(x/2) 
    else:
#when x is odd
        return collatz(3*x+1)

In [29]:
collatz(1)

1

In [30]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

#### Question 5:
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0

>>> binary(1)
1

>>> binary(3)
11

>>> binary(9)
1001

In [36]:
def binary(integerNumber):
    if integerNumber < 0:
        return 'Input number must be a positive integer'
    if integerNumber == 0:
        return 0
    else:
        return (integerNumber % 2 + 10 * binary(int(integerNumber // 2)))

In [37]:
binary(-8)

'Input number must be a positive integer'

In [38]:
binary(0)

0

In [39]:
binary(3)

11

In [40]:
binary(9)

1001

#### Question 6:
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')

>>> content = infile.read()

>>> infile.close()

>>> hp = HeadingParser()

>>> hp.feed(content)

W3C Mission

Principles

In [41]:
import re
from html.parser import HTMLParser
infile = open('C:/Users/samar/OneDrive/Desktop/w3c.html') 
content = infile.read() 
infile.close()

class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        global getHeading
        match = re.match(r'h(\d)', tag, re.I) 
        if match: getHeading = int(match.group(1))
            
    def handle_endtag(self, tag):
        match = re.match(r'h(\d)', tag, re.I)
        if match: getHeading = 0

    def handle_data(self, data):
        if getHeading > 0:
            tab = getHeading - 1
            out = " "*tab
            print(out+data)
            
getHeading = 0
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

#### Question 7:
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [42]:
import requests

from bs4 import BeautifulSoup   

def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')  
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('https')):
            webdir(new_link, depth, indent+1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

#### Question 8:
Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [49]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\samar\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\samar\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: six in c:\users\samar\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.8/42.8 KB ? eta 0:00:00
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: ipython>=1.0 in c:\users\samar\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: pygments in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pickleshare in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: colorama in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: jedi>=0.16 in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\samar\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\samar\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\samar\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\samar\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=f0493a7fba2772e6a187ae5f25d3130b6f2d4ff5cf0e0f0a92c4a7ad9baae7fb
  Stored in directory: c:\users\samar\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

WARNING: You are using pip version 22.0.2; however, version 22.3 is available.
You should consider upgrading via the 'C:\Users\samar\anaconda3\python.exe -m pip install --upgrade pip' command.

In [53]:
!pip install sql

Collecting sql
  Downloading sql-2022.4.0.tar.gz (4.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sql
  Building wheel for sql (setup.py): started
  Building wheel for sql (setup.py): finished with status 'done'
  Created wheel for sql: filename=sql-2022.4.0-py3-none-any.whl size=4312 sha256=354b0782a49135240d3a64969bec9125784b3342c075f00d753cfaa635a3a132
  Stored in directory: c:\users\samar\appdata\local\pip\cache\wheels\19\f9\7c\98853b9ed8c78173fe9beb544fd563f9fa9503b43e3384b8b3
Successfully built sql
Installing collected packages: sql
Successfully installed sql-2022.4.0

WARNING: You are using pip version 22.0.2; however, version 22.3 is available.
You should consider upgrading via the 'C:\Users\samar\anaconda3\python.exe -m pip install --upgrade pip' command.

In [7]:
%load_ext sql
%sql sqlite:///weatherInformationDatabase.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%%sql
 create table Assignment2(City varchar(20), Country varchar(20), Season varchar(20), Temperature varchar(20), Rainfall varchar(20))

 * sqlite:///weatherInformationDatabase.db
(sqlite3.OperationalError) table Assignment2 already exists
[SQL: create table Assignment2(City varchar(20), Country varchar(20), Season varchar(20), Temperature varchar(20), Rainfall varchar(20))]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [9]:
%%sql
insert into Assignment2 values('Mumbai','India', 'Winter','24.8', '5.9');
insert into Assignment2 values('Mumbai','India', 'Spring','28.4', '16.2');
insert into Assignment2 values('Mumbai','India', 'Summer','27.9', '1549.4');
insert into Assignment2 values('Mumbai','India', 'Fall','27.6', '346.0');
insert into Assignment2 values('London','United Kingdom', 'Winter','4.2', '207.7');
insert into Assignment2 values('London','United Kingdom', 'Spring','8.3', '169.6');
insert into Assignment2 values('London','United Kingdom', 'Summer','15.7', '157.0');
insert into Assignment2 values('London','United Kingdom', 'Fall','10.4', '218.5');
insert into Assignment2 values('Cairo','Egypt', 'Winter','13.6', '16.5');
insert into Assignment2 values('Cairo','Egypt', 'Spring','20.7', '6.5');
insert into Assignment2 values('Cairo','Egypt', 'Summer','27.7', '0.1');
insert into Assignment2 values('Cairo','Egypt', 'Fall','22.2', '4.5');

 * sqlite:///weatherInformationDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

### A)
 All the temperature data.

In [10]:
%%sql
select Temperature from Assignment2

 * sqlite:///weatherInformationDatabase.db
Done.

[('24.8',),
 ('28.4',),
 ('27.9',),
 ('27.6',),
 ('4.2',),
 ('8.3',),
 ('15.7',),
 ('10.4',),
 ('13.6',),
 ('20.7',),
 ('27.7',),
 ('22.2',)]

### B)
All the cities, but without repetition.

In [11]:
%%sql
select DISTINCT City from Assignment2

 * sqlite:///weatherInformationDatabase.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

### C)
All the records for India.

In [12]:
%%sql
select * from Assignment2 where Country='India'

 * sqlite:///weatherInformationDatabase.db
Done.

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346.0')]

### D)
All the Fall records.

In [13]:
%%sql
select * from Assignment2 where Season='Fall'

 * sqlite:///weatherInformationDatabase.db
Done.

[('Mumbai', 'India', 'Fall', '27.6', '346.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

### E)
The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [14]:
%%sql
SELECT  City, Country, Season, AVG(Rainfall) FROM Assignment2
GROUP BY Rainfall
Having AVG(Rainfall) BETWEEN 200 AND 400;

 * sqlite:///weatherInformationDatabase.db
Done.

[('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5),
 ('Mumbai', 'India', 'Fall', 346.0)]

### F)
The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [15]:
%%sql
select City, Country, AVG(Temperature) FROM Assignment2
WHERE Season = 'Fall'  
group by Temperature
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC;

 * sqlite:///weatherInformationDatabase.db
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

### G)
The total annual rainfall for Cairo.

In [16]:
%%sql
select City, SUM(Rainfall) FROM Assignment2 where City='Cairo'

 * sqlite:///weatherInformationDatabase.db
Done.

[('Cairo', 27.6)]

### H)
The total rainfall for each season

In [18]:
%%sql
select Season, SUM(Rainfall) FROM Assignment2
group by Season

 * sqlite:///weatherInformationDatabase.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

#### Question 9:
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [19]:
## Declaring words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [23]:
#List comprehension expressions 
print('Uppercase :',[x.upper() for x in words])
print('Lowercase:',[x.lower() for x in words])
print('Length of words:',[len(x) for x in words])
print('The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.:',[[x.upper(),x.lower(),len(x)] for x in words] )
print('The list of words in list words containing 4 or more characters:',[x.lower() for x in words if len(x)>=4])

Uppercase : ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Lowercase: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Length of words: [3, 5, 5, 3, 5, 4, 3, 4, 3]
The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
The list of words in list words containing 4 or more characters: ['quick', 'brown', 'jumps', 'over', 'lazy']